/*------------------css edwin------------------*/
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: black;
}

.homepage {
    background-image: url('image/Home.jpg');
    position: center;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

.homepage h2 {
    margin-left: 350px;
    margin-right: 0px;
    font-size: 80px;
    display: inline;
    color: whitesmoke;
    font-family: 'Lobster', cursive;
}
/*----------button styles----------*/
.button {
    margin: 50px 500px;
    padding: 50px 50px;
    
}

.link-button1 {
    font-family: 'Righteous';
    border-radius: 4px;
    background-color: Gray;
    border: none;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.link-button2 {
    font-family: 'Righteous';
    border-radius: 4px;
    background-color: Gray;
    border: none;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.link-button3 {
    font-family: 'Righteous';
    border-radius: 4px;
    background-color: Gray;
    border: none;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.link-button4 {
    font-family: 'Righteous';
    border-radius: 4px;
    background-color: whitesmoke;
    border: none;
    text-align: center;
    font-size: 28px;
    padding: 10px 10px 10px 10px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0px;
}
  
  .link-button1 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    color: whitesmoke;
  }

  .link-button2 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    color: whitesmoke;
  }

  .link-button3 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    color: whitesmoke;
  }
  
  .link-button4 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    color: gray;
  }

  .link-button1 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .link-button2 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .link-button3 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .link-button4 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
    top: -20px;
    transition: 0.5s;
  }

  .link-button1:hover span {
    padding-right: 25px;
  }

  .link-button2:hover span {
    padding-right: 25px;
  }

  .link-button3:hover span {
    padding-right: 25px;
  }

  .link-button4:hover span {
    padding-left: 25px;
  }
  
  .link-button1:hover span:after {
    opacity: 1;
    right: 0;
  }

  .link-button2:hover span:after {
    opacity: 1;
    right: 0;
  }

  .link-button3:hover span:after {
    opacity: 1;
    right: 0;
  }

  .link-button4:hover span:after {
    opacity: 1;
    right: 0;
  }
  /*----footer----*/
  .footer-bottom {
    background-color:brown;
    margin: 0%;
  }

  .menu {
    width: 100%;
    height: auto;
    margin: 0;
    margin-top: 0;
    text-align: center;
}

.menu ul {
    margin: 0;
    padding: 0;
}

.menu ul li {
    display: inline-block;
    margin: 0px 10px;
    padding-top: 10px;
}

.menu ul li a {
    font-size: 15px;
    font-weight: 600;
    color: black;
    text-transform: uppercase;
}

.menu ul li a:hover {
    color: gray;
}

.footer-bottom p {
    padding-bottom: 10px;
    font-family: arial;
    font-size: 14px;
    text-align: center;
    color: whitesmoke;
    letter-spacing: 1px;
}
/*------------------css khairul------------------*/
body section{
  padding: 20px;
  margin: 0%;
  background-color: #a8dba8;
  /* color: #3FA7D6; */
  font-family: "Fjalla One", Arial;
}

form {
  padding: 28px;
  margin: 0%;
  /* color: #79bd9a; */
  text-align: center;
  line-height: 20px;
  height: 10%;
  overflow: auto;  
}

table{
  width: 500;
  padding: 6px;
  
}

#overlay {
  width: 37%;
  margin: 3% auto;
  /* height: 95vh; */
  background-color:#79bd9a;
  border-radius: 40px;
}

/* Style inputs */
input[type=text],input[type=email],input[type=tel],textarea{
  /* width: 100%; */
  padding: 12px;
  border: 1px solid #cff09e;
  margin-top: 6px;
  margin-bottom: 6px;
  resize: vertical;
  width: 350px;
  border-radius: 10px;
}

input[type=submit]{
  background-color: #0b486b;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  width: 200px;
  border-radius: 40px;
  /* width: 100%; */
}

input[type=submit]:hover{
  background-color: #3b8686;
}





/*------------------css melvin------------------*/
.gallery {
  background-image: url(image/bggallery2.jpg);
  min-height: 400px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* @media screen and (max-width: 600px) {
  .productContainer, .productImage, .productDetail {   
    width: 100%;
    padding: 0;
  }
} */

.item {
  display: inline-block;
}

.productContainer {
  background-color: rgba(0, 0, 0, 0.5);
  width: auto;
  height: 100%;
  margin: 0 0;
  padding: 0;
  overflow: auto;
}

.productContainer h1 {
  color: burlywood;
  text-align: right;
}

.productContainer p {
  text-align: justify;
}

.item .productImage {
  max-width: 500px;
  max-height: 400px;
  min-width: 400px;
  margin: 20px 100px;
  float: left;
  transition: transform .2s;
}

.item .productImage :hover {
  transform: scale(1.5);
}

.productDetail {
  color: burlywood;
  background-color: rgba(0,0,0,0.5);
  max-width: 50%;
  min-width: 250px;
  height: 320px;
  margin: 0px;
  padding: 50px;
  float: center;
  width: 50%;
  border-radius: 10px;
  overflow: auto;
  position: relative;
}

/* .productPrice {
  color: white;
  background-color: rgba(67, 160, 72, 0.452);
  text-align: right;
  position: absolute;
  bottom: 5%;
} */
